.desc-container {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 40px auto;
    max-width: 800px;
    font-family: 'Arial', sans-serif;
    font-size: 16px;
    line-height: 1.6;
  }
  .rating-filter {
    margin: 20px 0;
    font-weight: bold;
  }
  
  .rating-filter select {
    margin-left: 10px;
    padding: 5px;
  }
  
  